In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from matplotlib import style

## Test 1: Create Dataframe from list

In [17]:
testdata=[[1,7,10],[2,3,25],[3,4,30],[4,3,30],[5,8,55]]
testdata

[[1, 7, 10], [2, 3, 25], [3, 4, 30], [4, 3, 30], [5, 8, 55]]

In [15]:
testable=pd.DataFrame(testdata,columns=['day','hours','progress'])
testable[0:]

   day  hours  progress
0    1      7        10
1    2      3        25
2    3      4        30
3    4      3        30
4    5      8        55

## Test 2: Create Dataframe from Dict

In [11]:
testdata={'day':[1,2,3,4,5],
          'hours':[7,3,4,3,8],
          'progress':[10,25,30,30,55]}
print(testdata)

{'day': [1, 2, 3, 4, 5], 'hours': [7, 3, 4, 3, 8], 'progress': [10, 25, 30, 30, 55]}

In [12]:
timesheet=pd.DataFrame(testdata)
print(timesheet)
timesheet.set_index('day',inplace=True)
print(timesheet)

   day  hours  progress
0    1      7        10
1    2      3        25
2    3      4        30
3    4      3        30
4    5      8        55
     hours  progress
day
1        7        10
2        3        25
3        4        30
4        3        30
5        8        55

In [31]:
print(timesheet.loc[3])

hours        4
progress    30
Name: 3, dtype: int64

In [25]:
timesheet.progress #or timesheet['progress']

day
1    10
2    25
3    30
4    30
5    55
Name: progress, dtype: int64

In [18]:
stats=timesheet[['hours','progress']].to_csv('timesheet1')

In [20]:
stats